* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,54,111,1) 53%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-repeat:unset
}

.card-container {
  background-image: url("./assets/marvel.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 420px;
}

.player-card {
  height: 420px;
  & img {
    filter:blur(3px);
    transition: transform 0.3s;
  }
  &:hover {
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
    & img {
      transform:scale(0.9);
      filter: none;
    }
  }
}